// input calender
.p-datepicker,
.p-timepicker,
.p-link {
    font-size: 1.4rem !important;
}

//  dialog
.p-dialog-content {
    border-radius: 5px !important;
}

// .p-dialog-header {
//     display: none !important;
// }

// dropdown
.p-dropdown-trigger-icon {
    margin-top: 4px !important;
}

.p-dropdown-clear-icon {
    margin-top: -3px !important;
}

.p-dropdown-label {
    font-size: 1.4rem !important;

    span {
        font-size: 1.4rem !important;
    }
}

.p-dropdown-items {
    font-size: 1.4rem !important;
}