.admin-header {
    position: fixed;
    right: 0;
    height: var(--height--header);
    width: calc(100% - var(--width--menu_bar));
    display: flex;
    justify-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b3b3b3;
    background-color: #fff;
    z-index: 1 !important;

    .header__info {
        display: flex;
        font-size: 1.8rem;
        font-weight: 600;
        margin-left: var(--margin--width);
        align-items: center;
    }

    .header__content {
        display: flex;

        .logout-container-admin {
            align-items: center;
            margin-right: 2vw;
        }

        .logout-container-admin,
        .logout-container-admin a {
            color: #4d8df7 !important;
            font-weight: bold;
        }
    }
}
