.base-1 {
    border-bottom: solid black 1px;
}

.base-2 {
    margin-bottom: -10px;
    border-bottom: solid black 1px;
}

.number-join-card {
    width: 60%;
    // border-bottom: solid black 1px;
    border-right: solid black 1px;
}

.rank-card {
    // border-bottom: solid black 1px;
    width: 35%;
}
