// .p-datatable .p-column-header-content {
//     justify-content: center;
// }

.layout-popup {
    font-size: 1.4rem;
    font-weight: 500;

    .p-dialog-header {
        display: none !important;
    }

    .title {
        .title-name {
            margin-left: 34px;
            font-size: 1.8rem;
            font-weight: 800;
        }
    }
}
